@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #0404c4 0%, #000000 100%);
}

p {
color: aquamarine;
}

.nav-link {
    color:aquamarine
}

.navbar-nav .nav-link.active {
    color: rgb(134, 138, 137);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color:rgb(134, 138, 137);
}

.sidebar {
    color:aquamarine;
    background: linear-gradient(270deg, #0404c4 0%, #000000 100%);
}

.card {
    background: linear-gradient(270deg, #0404c4 0%, #000000 100%);
    color: aquamarine;
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text, 
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #0404c4 0%, #000000 100%);
}

.media-links {
display: flex;
justify-content: center;
align-items: center;
}

.cal-anim {
    animation: call 1s ease 0s infinite alternate backwards;
}

@keyframes call {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

@media (max-width: 755px) {
  .carousel-indicators {
display: none;
  }
}
